$bg: #16003B;
$green: #62dca5;
$yellow: #f7f879;
$red: #e1675a;

$input-color: #F6E7D8;
$item-color: #046582;
$font-color: white;
$progressbar-color: #B22727;
$font-additem-color: #046582;

$big-font-size: 64px;
$heading-font-size: 24px;
$item-font-size: 20px;

@keyframes click {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}
